{{ formName.value | json }}

<form action="" #formName="ngForm" >
  <label for="firstname">First Name</label><br>
  
  <input type="text" name="firstname" #inputName="ngModel" ngModel/><br>
  <label for="lastname" >Last Name</label><br>
  <input type="text" name="lastname" #inputName="ngModel" ngModel/><br>
  <label for="email">Email</label><br>
  <input type="text" name="email" #inputName="ngModel" ngModel /><br>
  <label for="telephone" >Telephone Number</label><br>
  <input type="number" name="telephone" #inputName="ngModel" ngModel/><br>
  <label for="favlang">Favourite language</label><br>
  <select name="language" #inputName="ngModel" ngModel>
  <option *ngFor="let language of languageOptions">{{language}}</option>
  </select>
  <br>
  <br>
  <button type="submit">Submit</button>
</form>

