{{ formName.value | json }}

<form action="" #formName="ngForm" >
  <label for="firstname">First Name</label><br>
  <input type="text" name="firstname" #inputName="ngModel" NgModel/><br>
  <label for="lastname" >Last Name</label><br>
  <input type="text" name="lastname" #inputName="ngModel" NgModel/><br>
  <label for="email">Email</label><br>
  <input type="text" name="email" #inputName="ngModel" NgModel /><br>
  <label for="telephone" >Telephone Number</label><br>
  <input type="number" name="telephone" #inputName="ngModel" NgModel/><br>
  <label for="favlang">Favourite language</label><br>
  <select>
  <option *ngFor="let favLanguages as favLanguage">{{favLanguage}}</option>
  </select>
</form>

